body {
    font-family: Arial, sans-serif;
    background-color: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

.role-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.role-selection button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 30%;
    cursor: pointer;
    border-radius: 5px;
}

.role-selection button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
